@media (min-width: 768px) {
    #header-secondary .item-signUp {
        margin-right: 10px;
    }
}

#header-secondary .LogInButton--passport,
#header-secondary .SignUpButton--passport {
    color: #151316;
    font-weight: bold;
    background-color: initial;
    border: 1px solid rgba(21, 19, 22, .2);
    border-radius: 9999rem;
    text-align: center;
}

.TagTiles {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.TagTiles > li {
    position: relative;
    float: left;
    transition: all .2s ease-in-out;
    width: 32%;
}

@media (max-width: 991px) {
    .TagTiles > li {
        width: 47%;
    }
}

@media (max-width: 560px) {
    .TagTiles > li {
        width: 97%;
    }
}

.TagTiles > li:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

div.SignUpModal div.Modal-footer {
    display: none;
}
