:root {
    --primary-color: #deb56f;
    --secondary-color: #151316;
    --body-bg: #fff;
    --body-bg-shaded: #f7f7f7;
    --body-bg-light: #fff;
    --body-bg-faded: rgba(255,255,255,0.93);
    --text-color: #111;
    --link-color: #e7b766;
    --heading-color: #111;
    --muted-color: #000000;
    --muted-color-light: #9b92a0;
    --muted-color-dark: #000;
    --shadow-color: rgba(0,0,0,0.35);
    --control-bg: #eeecee;
    --control-bg-light: #f5f4f6;
    --control-bg-shaded: #e4e1e5;
    --control-color: #000000;
    --error-color: #d83e3e;
    --text-on-dark: #fff;
    --text-on-light: #1a181b;
    --yiq-threshold: 150;
    --header-bg: #fff;
    --header-color: #deb56f;
    --header-control-bg: #eeecee;
    --header-control-color: #000000;
    --overlay-bg: rgba(21,19,22,0.9);
    --code-bg: #f7f7f7;
    --code-color: #5e5e5e;
    --alert-bg: #fff2ae;
    --alert-color: #ad6c00;
    --alert-error-bg: #d83e3e;
    --alert-error-color: #fff;
    --alert-success-bg: #b4f1af;
    --alert-success-color: #33722d;
    --switch-on-color: #58a400;
    --switch-off-color: #d0021b;
    --enabled-color: #2ECC40;
    --disabled-color: #FF4136;
    --validation-error-color: #d83e3e;
    --avatar-bg: var(--control-bg);
    --badge-bg: var(--muted-color);
    --badge-color: #fff;
    --badge-hidden-bg: #888;
    --usercard-bg: var(--control-bg);
    --hero-bg: #eeecee;
    --hero-color: #000000;
    --tooltip-bg: rgba(0,0,0,0.9);
    --tooltip-color: #fff;
    --online-user-circle-color: #7fba00;
    --discussion-title-color: #7c7c7c;
    --discussion-list-item-bg-hover: #f6f5f7;
    --button-color: #000000;
    --button-bg: #eeecee;
    --button-bg-hover: #e1dee3;
    --button-bg-active: #d5d1d7;
    --button-bg-disabled: #eeecee;
    --button-primary-color: #fff;
    --button-primary-bg: #deb56f;
    --button-primary-bg-hover: #d9aa5a;
    --button-primary-bg-active: #d4a046;
    --button-primary-bg-disabled: #deb56f;
    --control-danger-color: #d66;
    --control-danger-bg: #fdd;
    --control-danger-bg-hover: #ffc3c3;
    --control-danger-bg-active: #faa;
    --control-danger-bg-disabled: #fdd;
    --muted-more-color: #aaa;
    --muted-more-bg: rgba(170,170,170,0.3);
    --muted-more-bg-hover: rgba(157,157,157,0.35);
    --muted-more-bg-active: rgba(145,145,145,0.4);
    --muted-more-bg-disabled: rgba(170,170,170,0.3);
    --button-inverted-color: #000000;
    --button-inverted-bg: #fff;
    --button-inverted-bg-hover: #f2f2f2;
    --button-inverted-bg-active: #e6e6e6;
    --button-inverted-bg-disabled: #fff;
    --light-content-color: #fff;
    --light-content-control-color: #fff;
    --light-content-control-bg: rgba(0,0,0,0.1);
    --light-content-control-bg-shaded: rgba(0,0,0,0.2);
    --light-content-control-bg-fadedin: rgba(0,0,0,0.15);
    --header-colored-color: #deb56f;
    --header-colored-control-color: #000000;
    --header-colored-control-bg: #eeecee;
    --header-colored-control-bg-shaded: #e1dee3;
    --header-colored-control-bg-fadedin: #eeecee;
}

.TagTiles {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.TagTiles > li {
    position: relative;
    float: left;
    transition: all .2s ease-in-out;
    width: 32%;
}

@media (max-width: 991px) {
    .TagTiles > li {
        width: 47%;
    }
}

@media (max-width: 560px) {
    .TagTiles > li {
        width: 97%;
    }
}

.TagTiles > li:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

div.SignUpModal div.Modal-footer {
    display: none;
}
